.actions-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: var(--window-padding-tb) var(--window-padding-lr);
}

.actions-bar.mode-random-draw {
    width: fit-content;
}

.actions-bar.mode-random-draw button.secondary {
    padding: var(--item-border-size);
}
