.edit-list {
    position: fixed;
    top: calc(
        2 * var(--window-border-tb) + 2 * var(--item-padding-tb) + 2 * var(--item-border-size) + 24px + 2rem
    );
    left: 0;
    width: 100%;
    height: 60vh;
    padding: 0 var(--content-border-lr);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.edit-list .items {
    height: 100%;
    width: 100%; /* inherit fixed parent's width */
    max-width: 100%; /* instead of 100vw */
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: var(--item-padding-lr);
    margin: calc(3 * var(--item-padding-lr)) 0;
    scroll-behavior: smooth;
}

.edit-list .items .item {
    display: flex;
    overflow-x: clip;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: var(--item-padding-tb) var(--item-padding-lr);
    gap: var(--item-padding-lr);
    border-radius: var(--radius);
    font-size: var(--text-font-size);
    border: var(--item-border-size) solid var(--light-gray);
}

.edit-list .items .item img {
    height: 24px;
    cursor: pointer;
}

.edit-list .items .item .text {
    overflow-y: hidden;
    overflow-x: auto;
}

.edit-list .items .item button {
    display: flex;
    align-items: center;
    border: none;
    color: var(--light-red);
}

.edit-list .input-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100vw - var(--window-border-lr) * 2 - var(--icon-size));
    padding: var(--window-border-tb) var(--window-border-lr);
}

.edit-list .input-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--light-gray);
    border-radius: var(--round-radius);
    padding-left: 32px;
    padding-right: 4px;
}

.edit-list .input-bar input {
    width: 100%;
    height: calc(var(--icon-size) + 4 * var(--item-border-size));
    border: none;
    outline: none;
    background: var(--light-gray);
}

.edit-list .input-bar button {
    flex-shrink: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    background: var(--primary-color);
    border-radius: var(--round-radius);
    border: none;
}

.edit-list .input-bar button svg {
    color: #fff;
}
