.item-result {
    position: fixed;
    top: calc(
        2 * var(--window-border-tb) + 2 * var(--item-padding-tb) + 2 * var(--item-border-size) + 24px + 2rem
    );
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 var(--window-border-lr);
    align-items: center;
}

.item-result .action-buttons {
    position: fixed;
    left: 0;
    bottom: calc(
        var(--icon-size) + 4 * var(--item-border-size) + var(--window-border-tb) + 2 * var(--item-padding-lr)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 var(--window-border-lr);
    width: 100%;
    transition: bottom 800ms;
}

.item-result .action-buttons button {
    width: 100%;
}

.item-result .action-buttons .draw-without-button p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-result .edit-list-button {
    display: flex;
    align-items: center;
    gap: var(--item-gap);
    color: var(--primary-color);
    border: none;
    outline: none;
}
