.item-result {
    justify-content: space-between;
    align-items: flex-start;
}

.item-result .action-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 var(--window-border-lr);
    width: 100%;
}

.item-result .action-buttons.idle {
    transition: transform 800ms;
}

.item-result .action-buttons button {
    width: 100%;
}

.item-result .action-buttons .draw-without-button p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-result .top {
    width: 100%;
}

.item-result .top .edit-list-button {
    display: flex;
    align-items: center;
    gap: var(--item-gap);
    color: var(--primary-color);
    border: none;
    outline: none;
}

.item-result .top .shared-result-banner {
    width: 100%;
    text-align: center;
    padding: calc(var(--item-padding-tb) * 2) 0;
    background: var(--light-green);
    color: var(--dark-green);
    margin-bottom: var(--item-padding-tb);
    border-radius: var(--radius);
}
