.tools {
    position: fixed;
    left: 0;
    bottom: calc(
        var(--icon-size) + 4 * var(--item-border-size) + var(--window-border-tb) + 2 * var(--item-padding-lr)
    );
    display: flex;
    padding: 0 0 0 var(--window-border-lr);
    width: 100%;
}

.tools div.relative {
    position: relative;
    width: 100%;
}

.tools div ul {
    display: flex;
    padding-right: var(--window-border-lr);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    gap: var(--item-padding-lr);
    scroll-behavior: smooth;
}

.tools div ul::-webkit-scrollbar {
    display: none;
}

.tools div ul li,
.tools div ul li button,
.tools div ul li label {
    flex: 0 0 auto;
    cursor: pointer;
}

.tools div .gradient {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(2 * var(--window-border-lr));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--background-color) 100%);
}
