.tools {
    position: fixed;
    bottom: calc(var(--actions-bar-height) + var(--item-padding-tb));
    width: 100%;
}

.tools div.relative {
    position: relative;
    width: 100%;
}

.tools div ul {
    display: flex;
    width: 100%;
    gap: var(--item-padding-lr);
    padding: 0 var(--window-padding-lr);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.tools div ul::-webkit-scrollbar {
    display: none;
}

.tools div ul li,
.tools div ul li button,
.tools div ul li label {
    flex: 0 0 auto;
    cursor: pointer;
}

.tools div .gradient {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(3 * var(--window-padding-lr));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--background-color) 100%);
}

@media screen and (min-width: 900px) {
    .tools {
        bottom: calc(var(--actions-bar-height));
    }

    .tools div ul {
        justify-content: center;
    }

    .tools div .gradient {
        width: calc(3 * var(--item-padding-lr));
    }
}
