* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

:root {
    /* ───── WINDOW ──────────────────────────────────────────────── */
    --window-padding-tb: 12px;
    --window-padding-lr: 12px;

    /* ───── CONTENT ─────────────────────────────────────────────── */
    --content-padding-lr: 10vw;

    /* ───── COLORS ──────────────────────────────────────────────── */
    --primary-color: #0040ff;
    --dark-gray: #444a5a;
    --light-gray: #e5e5e7;
    --dark-yellow: #806400;
    --light-yellow: #ffe791;
    --dark-green: #075900;
    --light-green: #9aff91;
    --dark-blue: #364264;
    --light-blue: #ccd9ff;
    --dark-red: #410000;
    --light-red: #ff8080;
    --background-color: #fff;
    --box-shadow-color: rgba(68, 74, 90, 0.15);

    /* ───── RADIUS ──────────────────────────────────────────────── */
    --radius: 8px;
    --round-radius: 10000px;

    /* ───── ITEM ────────────────────────────────────────────────── */
    --item-padding-tb: 8px;
    --item-padding-lr: 12px;
    --item-gap: 4px;
    --item-border-size: 2px;

    /* ───── ICON ────────────────────────────────────────────────── */
    --icon-size-L: 48px;
    --icon-size-S: 24px;

    /* ───── FONT ────────────────────────────────────────────────── */
    --text-font-size: 1rem;
    --title-font-size: 1.5rem;

    /* ───── HEADER ──────────────────────────────────────────────── */
    --header-height: 64px;

    /* ───── ACTION BAR ──────────────────────────────────────────── */
    --actions-bar-height: calc(
        var(--icon-size-L) + 4 * var(--item-border-size) + 2 * var(--window-padding-tb)
    );

    /* ───── FOOTER ──────────────────────────────────────────────── */
    --footer-height: calc(
        var(--actions-bar-height) + var(--item-padding-tb) + var(--icon-size-S) + 2 * var(--item-padding-tb)
    );
}

/* ───── GLOBAL ──────────────────────────────────────────────── */
body {
    overflow: hidden;
}

.app {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

ul {
    list-style: none;
}

h1,
h2 {
    color: var(--dark-gray);
}

button,
li,
input,
p {
    font-weight: 500;
    font-size: var(--text-font-size);
    color: var(--dark-gray);
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

a {
    text-decoration: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

button {
    cursor: pointer;
    background: none;
    outline: none;
}

/* ───── BUTTON ──────────────────────────────────────────────── */
/* ───── PRIMARY ───────────────────────── */
.primary {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: var(--item-padding-tb) var(--item-padding-lr);
    gap: var(--item-gap);
    border-radius: var(--radius);
    font-size: var(--text-font-size);
    border: none;
    background: var(--primary-color);
    transition: background 500ms ease;
}

.primary p {
    color: var(--background-color);
    font-size: var(--title-font-size);
    transition: color 500ms ease;
}

.primary:disabled {
    background: var(--light-gray);
}

.primary:disabled p {
    color: var(--dark-gray);
}

/* ───── SECONDARY ─────────────────────── */
.secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--item-padding-tb) var(--item-padding-lr);
    gap: var(--item-gap);
    border-radius: var(--radius);
    font-size: var(--text-font-size);
    border: var(--item-border-size) solid var(--light-gray);
}

.fullwidth,
.fullwidth p {
    font-size: var(--title-font-size);
}

.secondary.fullwidth {
    width: 100%;
    justify-content: space-between;
}

.tertiary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--item-padding-tb) var(--item-padding-lr);
    gap: calc(var(--item-gap) * 2);
    border-radius: var(--round-radius);
    font-size: var(--text-font-size);
    border: none;
}

.tertiary.yellow {
    background: var(--light-yellow);
    color: var(--dark-yellow);
}

.tertiary.green {
    background: var(--light-green);
    color: var(--dark-green);
}

.tertiary.blue {
    background: var(--light-blue);
    color: var(--dark-blue);
}

.tertiary.red {
    background: var(--light-red);
    color: var(--dark-red);
}

/* Input */
.input-number {
    text-align: center;
    background: var(--light-gray);
    color: var(--dark-gray);
    padding: var(--item-padding-tb) var(--item-padding-lr);
    border-radius: var(--radius);
    border: none;
    outline: none;
}
